    # Python
    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    .Python/
    env/
    venv/
    *.env
    .flaskenv

    # Operating System Files
    .DS_Store
    Thumbs.db

    # IDE specific files (e.g. VS Code)
    .vscode/
    